In [4]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
from numpy import random
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px # data visualization


import requests
from bs4 import BeautifulSoup as bs

In [2]:
req = requests.get("https://en.wikipedia.org/wiki/Calgary").text
soup = bs(req, 'lxml')
latitude = soup.find("span", {"class": "latitude"})
longitude = soup.find("span", {"class": "longitude"})
print(latitude.text, longitude.text)

51°02′45″N 114°03′27″W

In [5]:
df = pd.read_csv('lisbon_buy_6302_052922_final.csv')

In [6]:
df.head()

    Price Prop_type  Size  Bath  Bed      City              Division
0   25000     House    80   1.0    3   Cadaval                 Vilar
1  399900     House   250   2.0    5    Sintra     Almargem do Bispo
2  318000     House   123   4.0    4    Sintra     Almargem do Bispo
3  280000     House   101   1.0    2    Loures   Santa Iria de Azoia
4  425000     House   402   3.0    4  Alenquer  Carregado e Cadafais

In [7]:
division_count = df['Division'].value_counts()
division_count

Cascais e Estoril         301
Avenidas Novas            263
Arroios                   200
Santo António             188
Santa Maria Maior         187
                         ...
Santa Bárbara               2
Peral                       2
Vimeiro                     2
Ota                         1
Vila Verde dos Francos      1
Name: Division, Length: 131, dtype: int64

In [27]:
divisions = df['Division'].unique()

In [30]:
divisions_list = divisions.tolist()

In [32]:
divisions_list

['Vilar',
 'Almargem do Bispo',
 'Santa Iria de Azoia',
 'Carregado e Cadafais',
 'Alhandra',
 'São Domingos de Rana',
 'Sintra (Santa Maria e São Miguel',
 'AlgueirãoMem Martins',
 'Rio de Mouro',
 'Alvalade',
 'Ribafria e Pereiro de Palhacana',
 'Vila Franca de Xira',
 'Carnide',
 'Azambuja',
 'Alcabideche',
 'Dois Portos e Runa',
 'Vialonga',
 'Abrigada e Cabanas de Torres',
 'Benfica',
 'Alcoentre',
 'Ramalhal',
 'Turcifal',
 'Avenidas Novas',
 'Venteira',
 'Colares',
 'Cascais e Estoril',
 'Ventosa',
 'Carcavelos e Parede',
 'Lourinhã e Atalaia',
 'Ajuda',
 'Lousa',
 'Agualva e MiraSintra',
 'Torres Vedras (São Pedro',
 'Alenquer (Santo Estêvão e Triana)',
 'Alverca do Ribatejo e Sobralinho',
 'Cardosas',
 'Queluz e Belas',
 'Odivelas',
 'Oeiras e São Julião da Barra',
 'Carvoeira',
 'São João das Lampas e Terrugem',
 'Milharado',
 'Pontinha e Famões',
 'Loures',
 'Cadaval e Pêro Moniz',
 'Silveira',
 'Cacém e São Marcos',
 'Estrela',
 'Santiago dos Velhos',
 'Fanhões',
 'São Pedro da Cadeira',
 'Campolide',
 'Miragaia e Marteleira',
 'Campelos e Outeiro da Cabeça',
 'Ponte do Rol',
 'Camarate',
 'Póvoa de Santa Iria e Forte da Casa',
 'Enxara do Bispo',
 'Santo Antão e São Julião do Tojal',
 'Ribamar',
 'Aldeia Galega da Merceana e Aldeia Gavinha',
 'Moita dos Ferreiros',
 'Olivais',
 'Ericeira',
 'Carnota',
 'São Quintino',
 'Maxial e Monte Redondo',
 'Ramada e Caneças',
 'Painho e Figueiros',
 'Santo Isidoro',
 'Sobral de Monte Agraço',
 'Azueira e Sobral da Abelheira',
 'Vermelha',
 'Aveiras de Baixo',
 'Águas Livres',
 'Freiria',
 'Porto Salvo',
 'Vale do Paraíso',
 'Lamas e Cercal',
 'Bucelas',
 'São Bartolomeu dos Galegos e Moledo',
 'Carnaxide e Queijas',
 'Carvoeira e Carmões',
 'Mafra',
 'Belém',
 'Algés',
 'Encarnação',
 'Meca',
 'A dos Cunhados e Maceira',
 'Alfragide',
 'Venda do Pinheiro e Santo Estêvão das Galés',
 'Mina de Água',
 'Vila Verde dos Francos',
 'Malveira e São Miguel de Alcainça',
 'Ota',
 'Marvila',
 'Manique do Intendente',
 'Arranhó',
 'Vila Nova da Rainha',
 'Aveiras de Cima',
 'Arruda dos Vinhos',
 'Castanheira do Ribatejo e Cachoeiras',
 'Beato',
 'Misericórdia',
 'Penha de França',
 'Campo de Ourique',
 'Barcarena',
 'Massamá e Monte Abraão',
 'Igreja Nova e Cheleiros',
 'Olhalvo',
 'Sapataria',
 'Casal de Cambra',
 'Vimeiro',
 'Peral',
 'Santo António',
 'Santa Clara',
 'Alcântara',
 'São Vicente',
 'Areeiro',
 'Santa Bárbara',
 'Santo António dos Cavaleiros e Frielas',
 'Sacavém e Prior Velho',
 'Arroios',
 'Lumiar',
 'Santa Maria Maior',
 'Póvoa de Santo Adrião e Olival Basto',
 'Falagueira  Venda Nova',
 'São Domingos de Benfica',
 'Encosta do Sol',
 'Moscavide e Portela',
 'Parque das Nações']

In [18]:
divisions = ['calgary', 'tokyo', 'shanghai']

In [14]:
req = requests.get("https://en.wikipedia.org/wiki/Calgary").text
soup = bs(req, 'lxml')
latitude = soup.find("span", {"class": "latitude"})
longitude = soup.find("span", {"class": "longitude"})
print(latitude.text, longitude.text)

51°02′45″N 114°03′27″W

In [45]:
latlon_list=[]

for division in divisions_list:
    url = "https://en.wikipedia.org/wiki/{}"
    latlon = {}
    latlon['division'] = division
    url_division = url.format(division)
    req = requests.get(url_division).text
    soup = bs(req, 'lxml')    
    latitude = soup.find("span", {"class": "latitude"})
    longitude = soup.find("span", {"class": "longitude"})
    
    if latitude and longitude:
        latlon['latitude'] = latitude.text
        latlon['longitude'] = longitude.text
        
    else:
        url = "https://en.wikipedia.org/wiki/{}_(Lisbon)"
        latlon = {}
        latlon['division'] = division
        url_division = url.format(division)
        req = requests.get(url_division).text
        soup = bs(req, 'lxml')    
        latitude = soup.find("span", {"class": "latitude"})
        longitude = soup.find("span", {"class": "longitude"})

        if latitude and longitude:
            latlon['latitude'] = latitude.text
            latlon['longitude'] = longitude.text      

    latlon_list.append(latlon)

df_loc = pd.DataFrame(latlon_list)

In [46]:
df_loc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131 entries, 0 to 130
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   division   131 non-null    object
 1   latitude   73 non-null     object
 2   longitude  73 non-null     object
dtypes: object(3)
memory usage: 3.2+ KB

In [49]:
df_loc.head()

               division    latitude  longitude
0                 Vilar         NaN        NaN
1     Almargem do Bispo         NaN        NaN
2   Santa Iria de Azoia         NaN        NaN
3  Carregado e Cadafais  39°01′23″N  8°58′48″W
4              Alhandra         NaN        NaN

In [51]:
df_loc.to_csv(r'division_loc1.csv', index = False, header=True)